@CHARSET "UTF-8";

body {

    background-color: #022431;

}

.container_d {

    width: 90%;
    padding: 0px;

}

.row_d {

    margin: 0px;
    width: 100%;

}

.row_mt {

    width: 100%;
    padding: 0px;
    margin-left: 0px;
    margin-top: 40px;

}

.row_d_brd {

    border-bottom: 1px dashed rgba(255, 255, 255, 0.3);

}

.top_l_gap, .top_r_gap {

    height: 20px;

}

.top_l, .top_r {

    height: 520px;
    padding: 0px;
    margin: 0px;

}


.top_l .im {

    float:left;
    margin-top: 60px;
    margin-left: 0px;
    width: 210px;
    height: 380px;
    overflow: visible;

}

.car {

    height: 100%;
    width: 100%;
    moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
    filter: alpha(opacity = 30);

}

.wheel {

    position: relative;
    width: 32px;
    border: 2px dotted white;
    border-radius: 10px;
    padding: 0px;
    moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
    filter: alpha(opacity = 90);
    cursor: pointer;

}

.wheel-left-front {

    left: 11px;
    top: -340px;

}

.wheel-right-front {

    left: 132px;
    top: -340px;

}

.wheel-left-back {

    left: -58px;
    top: -120px;

}

.wheel-right-back {

    left: 58px;
    top: -120px;

}

.top_l .info {

    float:left;
    margin-top: 60px;
    width: 290px;
    height: 380px;

}

.top_r .mapCon {

    height: 380px;
    width: 100%;
    margin-top: 60px;

}

.sh {

    float: left;
    padding-left:15px;
    width: 100%;
    margin-top: 0px;

}

.lt {

    margin-top: 100px;

}

.sub_content {
    float: left;
    height: 80px;
    width: 100%;
    line-height: 80px;
    font-size: 65px;
    font-family: Arial;
    font-weight: bold;
    color: white;
    left: 0px;
    top: 35px;
    margin: 0px;
    padding: 0px;
}

.road_txt {
    font-size: 50px;
    font-family: "Microsoft YaHei UI";
    font-weight: 600;
}

.chart_h {

    height: 400px;
    padding: 0px;

}

.tab {

    padding: 0px;

}

.tab .tabItem {

    float: left;
    width:20%;
    height: 70px;
    padding: 0px;

}

.tab .w-19 {

    width: 24%;

}

.tab .w-27 {

    width: 25%;

}


.tabItem img {

    float: left;
    margin-left: -5px;
    height:70px;

}

.tabItem p.l {

    float: left;
    height: 36px;
    margin-top: 17px;
    margin-left: 10px;
    line-height: 36px;
    font-size: 26px;
    font-family: "Microsoft YaHei UI";
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    padding: 0px;

}

.tabItem p.n {

    float:left;
    height: 70px;
    width: 100%;
    line-height: 70px;
    font-size: 26px;
    font-family: "Microsoft YaHei UI";
    font-weight: 500;
    padding: 0px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #022431;

}

.nbgd {

    background-color: #023c4b;
    color: rgba(255, 255, 255, 1);

}

.nbgu {

    background-color: #d9d9d9;
    color: #022431;

}

.all_charts {

    height: 1300px;
    padding: 0px;

}

.line_charts {

    position: absolute;
    top: 0px;
    left:0px;
    height: 1300px;
    padding: 0px;
    z-index: 10;
    background-color: #022431;

}

.pie_charts {

    position: absolute;
    top: 0px;
    left:0px;
    height: 1300px;
    padding: 0px;
    z-index: 9;
    background-color: #022431;

}

.pie_charts .lh {

    float: left;
    height: 600px;
    padding: 0px;

}

.rect_charts {

    position: relative;
    top: 0px;
    left:0px;
    height: 1000px;
    padding: 0px;
    z-index: 8;
    background-color: #022431;

}

.history_chart {

    position: absolute;
    top: 0px;
    left:0px;
    height: 1300px;
    padding: 0px;
    z-index: 7;
    background-color: #022431;

}

.picker-con {

    height: 40px;
    padding: 0px;

}



